---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for p in ["/", "/music.html", "/photos.html", "/notebook.html", "/work.html", "/press-kit.html"] %}
  <url><loc>{{ site.url }}{{ p }}</loc><lastmod>{{ "" | today }}</lastmod></url>
{%- endfor %}
</urlset>
